<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=animal-pet-cute-kitten-45201.jpg&fm=jpg" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= @player.name %></h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">DOB: <%= @player.dob %></li>
      <li class="list-group-item">Age: <%= Time.now.year - @player.dob.year %></li>
      <li class="list-group-item">Height: <%= @player.height %></li>
      <li class="list-group-item">Citizenship: <%= @player.citizenship %></li>
      <li class="list-group-item">Position: <%= @player.position %></li>
      <li class="list-group-item">Foot: <%= @player.foot %></li>
      <li class="list-group-item">Club: <%= @player.current_club %></li>
    </ul>

    <div class="card-body">
      <%= link_to 'Edit', edit_player_path(@player), class: "card-link" %>
      <%= link_to 'Back', players_path, class: "card-link" %>
    </div>
  </div>
</div>

